/* ===== SCSS Variables ===== */

/* Font */
$font-base: 'Paperozi', 'Noto Sans KR', 'Malgun Gothic', 'verdana', sans-serif;
$font-eng: 'Boldonse', 'Noto Sans KR', 'Malgun Gothic', 'verdana', sans-serif;
$font-point: 'Tektur', 'Noto Sans KR', 'Malgun Gothic', 'verdana', sans-serif;

/* Color */
$color-text: #333;

/* Line Height */
$line-height: 1.5;

/* Media Query */
$media1700: 1700px;
$media1280: 1280px;
$media1024: 1024px;
$media960: 960px;
$media768: 768px;
$media640: 640px;

$mediaHeight700: 700px;

/* ===== CSS Variables ===== */
:root {
    /* Viewport */
    --vh: 100%;
    --resizeVH: 100vh;
}

@media (hover: hover) and (pointer: fine) {
    :root {
        /* Layout */
        --resizeVH: var(--vh);
    }
}