.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid red;
  padding: 10px;
}

.box + .box{
  margin-top: 10px;
}

.box button{
  margin-top: 5px;
}